# Contoh konfigurasi keystore untuk signing Android App Bundle (.aab) produksi
# Salin file ini menjadi 'keystore.properties' di dalam folder 'android/'
# JANGAN PERNAH mengunggah file 'keystore.properties' atau file *.keystore/*.jks ke GitHub/Git publik!

storeFile=../my-release-key.jks
storePassword=password_keystore_anda
keyAlias=eksis-key-alias
keyPassword=password_key_alias_anda
